{
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": "error",
    "eol-last": "error",
    "quotes": [
      2,
      "single"
    ],
    "no-unneeded-ternary": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": "error",
    "jsx-quotes": "error",
    "no-lonely-if": "error",
    "require-jsdoc": "warn",
    "no-console": "off",
    "no-irregular-whitespace":"off",
    "no-unused-vars":"off",
    "no-control-regex": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  // from https://raw.githubusercontent.com/n2naokun/RPGMaker-MV/master/Files/Template/VSCode_ESLint%E5%90%91%E3%81%91MV%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%90%E3%83%AB%E5%AE%A3%E8%A8%80%E4%B8%80%E8%A6%A7.json
  "globals": {
    "FPSMeter": true,
    "Float32Array": true,
    "Uint8Array": true,
    "DataView": true,
    "webkitAudioContext": true,
    "makeVideoPlayableInline": true,
    "PIXI": true,
    "JsExtensions": true,
    "Utils": true,
    "CacheEntry": true,
    "CacheMap": true,
    "ImageCache": true,
    "RequestQueue": true,
    "Point": true,
    "Rectangle": true,
    "Bitmap": true,
    "Graphics": true,
    "Input": true,
    "TouchInput": true,
    "Sprite": true,
    "Tilemap": true,
    "ShaderTilemap": true,
    "TilingSprite": true,
    "ScreenSprite": true,
    "LZString": true,
    "Window": true,
    "WindowLayer": true,
    "Weather": true,
    "ToneFilter": true,
    "ToneSprite": true,
    "Stage": true,
    "WebAudio": true,
    "Html5Audio": true,
    "JsonEx": true,
    "Decrypter": true,
    "ResourceHandler": true,
    "DataManager": true,
    "ConfigManager": true,
    "StorageManager": true,
    "ImageManager": true,
    "AudioManager": true,
    "SoundManager": true,
    "TextManager": true,
    "SceneManager": true,
    "BattleManager": true,
    "PluginManager": true,
    "Game_Temp": true,
    "Game_System": true,
    "Game_Timer": true,
    "Game_Message": true,
    "Game_Switches": true,
    "Game_Variables": true,
    "Game_SelfSwitches": true,
    "Game_Screen": true,
    "Game_Picture": true,
    "Game_Item": true,
    "Game_Action": true,
    "Game_ActionResult": true,
    "Game_BattlerBase": true,
    "Game_Battler": true,
    "Game_Actor": true,
    "Game_Enemy": true,
    "Game_Actors": true,
    "Game_Unit": true,
    "Game_Party": true,
    "Game_Troop": true,
    "Game_Map": true,
    "Game_CommonEvent": true,
    "Game_CharacterBase": true,
    "Game_Character": true,
    "Game_Player": true,
    "Game_Follower": true,
    "Game_Followers": true,
    "Game_Vehicle": true,
    "Game_Event": true,
    "Game_Interpreter": true,
    "Scene_Base": true,
    "Scene_Boot": true,
    "Scene_Title": true,
    "Scene_Map": true,
    "Scene_MenuBase": true,
    "Scene_Menu": true,
    "Scene_ItemBase": true,
    "Scene_Item": true,
    "Scene_Skill": true,
    "Scene_Equip": true,
    "Scene_Status": true,
    "Scene_Options": true,
    "Scene_File": true,
    "Scene_Save": true,
    "Scene_Load": true,
    "Scene_GameEnd": true,
    "Scene_Shop": true,
    "Scene_Name": true,
    "Scene_Debug": true,
    "Scene_Battle": true,
    "Scene_Gameover": true,
    "Sprite_Base": true,
    "Sprite_Button": true,
    "Sprite_Character": true,
    "Sprite_Battler": true,
    "Sprite_Actor": true,
    "Sprite_Enemy": true,
    "Sprite_Animation": true,
    "Sprite_Damage": true,
    "Sprite_StateIcon": true,
    "Sprite_StateOverlay": true,
    "Sprite_Weapon": true,
    "Sprite_Balloon": true,
    "Sprite_Picture": true,
    "Sprite_Timer": true,
    "Sprite_Destination": true,
    "Spriteset_Base": true,
    "Spriteset_Map": true,
    "Spriteset_Battle": true,
    "Window_Base": true,
    "Window_Selectable": true,
    "Window_Command": true,
    "Window_HorzCommand": true,
    "Window_Help": true,
    "Window_Gold": true,
    "Window_MenuCommand": true,
    "Window_MenuStatus": true,
    "Window_MenuActor": true,
    "Window_ItemCategory": true,
    "Window_ItemList": true,
    "Window_SkillType": true,
    "Window_SkillStatus": true,
    "Window_SkillList": true,
    "Window_EquipStatus": true,
    "Window_EquipCommand": true,
    "Window_EquipSlot": true,
    "Window_EquipItem": true,
    "Window_Status": true,
    "Window_Options": true,
    "Window_SavefileList": true,
    "Window_ShopCommand": true,
    "Window_ShopBuy": true,
    "Window_ShopSell": true,
    "Window_ShopNumber": true,
    "Window_ShopStatus": true,
    "Window_NameEdit": true,
    "Window_NameInput": true,
    "Window_ChoiceList": true,
    "Window_NumberInput": true,
    "Window_EventItem": true,
    "Window_Message": true,
    "Window_ScrollText": true,
    "Window_MapName": true,
    "Window_BattleLog": true,
    "Window_PartyCommand": true,
    "Window_ActorCommand": true,
    "Window_BattleStatus": true,
    "Window_BattleActor": true,
    "Window_BattleEnemy": true,
    "Window_BattleSkill": true,
    "Window_BattleItem": true,
    "Window_TitleCommand": true,
    "Window_GameEnd": true,
    "Window_DebugRange": true,
    "Window_DebugEdit": true,
    "$dataActors": true,
    "$dataClasses": true,
    "$dataSkills": true,
    "$dataItems": true,
    "$dataWeapons": true,
    "$dataArmors": true,
    "$dataEnemies": true,
    "$dataTroops": true,
    "$dataStates": true,
    "$dataAnimations": true,
    "$dataTilesets": true,
    "$dataCommonEvents": true,
    "$dataSystem": true,
    "$dataMapInfos": true,
    "$dataMap": true,
    "$gameTemp": true,
    "$gameSystem": true,
    "$gameScreen": true,
    "$gameTimer": true,
    "$gameMessage": true,
    "$gameSwitches": true,
    "$gameVariables": true,
    "$gameSelfSwitches": true,
    "$gameActors": true,
    "$gameParty": true,
    "$gameTroop": true,
    "$gameMap": true,
    "$gamePlayer": true,
    "$testEvent": true,
    "TranslationManager":true,
    "Game_MiniMap":true,
    "Window_ChoiceListEx":true,
    "Window_MessageEx":true,
    "Yanfly":true,
    "Window_NameBox":true,
    "Imported":true,
    "Window_GlossaryCategory":true,
    "Window_GlossaryList":true,
    "Window_Glossary":true,
    "Scene_Glossary":true,
    "CBR":true,
    "XLSX":true,
    "$dataTemplateEvents":true,
    "nw":true,
    "Battle_Hud":true,
    "Moghunter":true
  }
}
